<script>
	function validateForm() {
	  var x = document.forms["myForm"]["imagefile"].value;
	  if (x == "") {
		alert("plese choose image");
		return false;
	  }
	}
	</script>
<!DOCTYPE html> 
<html lang="en"> 
	{%   load static %}
	<!DOCTYPE html> 
	<html lang="en"> 
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="shortcut icon" href="{% static 'favicon.ico' %}">
			<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" />
			<link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}" />
			<title>PDS</title> 
	</head> 
<body>
	<div class="container">		
		<div class="content">	
		<div class="box">
		
			<form method = "POST" 	name="myForm" onsubmit="return validateForm()" action="upload_file" enctype="multipart/form-data"> 
			{% csrf_token %} 
			<input type="file"  name="imagefile" accept="image/*" />
			<button type="submit">Upload Image</button> 
		</form> 
		</div>
		</div>
	</div>

</body> 
</html> 
